{% extends 'base.html' %}

{% block content %}
  <h2>Event List</h2>
  <form method="get" action="{% url 'event_list' %}">
    <input type="text" name="q" placeholder="Search events...">
    <button type="submit">Search</button>
  </form>

  {% if query %}
  <p>Search results for "{{ query }}":</p>
{% endif %}

  <ul>
    {% for event in events %}
      <li>
        {{ event.title }} - {{ event.date }} at {{ event.time }} - (Available Seats: {{ event.slots_available }})
        
        {% if user.is_authenticated %}
            <a href="{% url 'register_event' event.event_id %}">Details</a>
        {% else %}
          <span>(Login to register)</span>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
{% endblock %}
