{% extends 'base.html' %}

{% block content %}
  <h2>Register for {{ event.title }}</h2>
  <p><strong>Event Details:</strong></p>
  <ul>
    <li><strong>Title:</strong> {{ event.title }}</li>
    <li><strong>Description:</strong> {{ event.description }}</li>
    <li><strong>Date:</strong> {{ event.date }}</li>
    <li><strong>Time:</strong> {{ event.time }}</li>
    <li><strong>Location:</strong> {{ event.location_name }}</li>
    <!-- Add more event details as needed -->
  </ul>



  {% if registration_detail %}
    <h3>Your Registration Details</h3>
    <ul>
      <li><strong>User:</strong> {{ registration_detail.user.username }}</li>
      <li><strong>Event:</strong> {{ registration_detail.event.title }}</li>
      
      <form method="post" action="{% url 'unregister_event' event.event_id %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Unregister</button>
    </ul>
   {% else %}
   <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
  </form>
  {% endif %}
{% endblock %}
