{% extends 'base.html' %}

{% block content %}
  <h2>Your Registered Events</h2>
  {% if user_registered_events %}
    <ul>
      {% for registration in user_registered_events %}
        <li>{{ registration.event.title }} - {{ registration.event.date }} at {{ registration.event.time }}</li>
        
        <a href="{% url 'register_event' registration.event.event_id %}">Details</a>


      {% endfor %}
    </ul>
  {% else %}
    <p>You have not registered for any events yet.</p>
  {% endif %}
{% endblock %}